/*.ui-widget-content{
    border: 0px;
    color: white;
       background-color: transparent;
   border-color: transparent;
}*/

.SemFundo{
   background-color: transparent;
   border-color: transparent;
}

#EstadoDefault{
    color: #00FF00;
}

.campos{
   // margin-left: 200px!important; 
    margin-top:20px!important; 
    height: 30px!important; 
    font-size: 20px!important;
}

.ui-selectonemenu-label {
 width:348px !important;
 
 /*margin-top:20px!important;*/
 height: 100% !important;
 /*font-size: 20px!important;*/
}

.estado {
    margin-top:20px!important; 
    height: 30px!important; 
    font-size: 20px!important;
    width: 350px!important;
}

.ui-selectonemenu-label  {
    background-color: transparent!important;
}
/*#formPrincipal:formCadCliente:gridclientes{
    background-color: #0000E5;
}*/

/*.formPrincipal:formCadCliente:gridclientes{
    left: 200px;
}*/