/*

*/

.version.index /* version checker */
{
	color: #000004;
	background-color: #A84D72;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1002px;
	min-height: 1147.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -379px;
	width: 0.01px;
}

#pu2284
{
	width: 0.01px;
	padding-bottom: 1563px;
	margin-left: -112px;
}

#u2284
{
	z-index: 253;
	width: 203px;
	height: 1563px;
	top: 0px;
	left: -12px;
}

#u2293
{
	z-index: 284;
	width: 171px;
	top: 19px;
	left: 15px;
}

#u2293_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu3557-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1563px;
}

#u3557-3
{
            z-index: 2;
            min-height: 200px;
            //background: transparent url("../../../../imagens/0002_textura_papel_amarelo.jpg") no-repeat center center;
            background-size: cover;
}

#u3557-3-bw
{
	z-index: 2;
	min-height: 200px;
}

#u3648
{
	z-index: 230;
	width: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 424px;
}

#pu3649-6
{
	width: 0.01px;
}

#u3649-6
{
	z-index: 231;
	width: 424px;
	min-height: 138px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u3649-2
{
	font-size: 39px;
	line-height: 47px;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
}

#u3649-4
{
	font-size: 80px;
	line-height: 96px;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
}

#u3651
{
	z-index: 237;
	width: 91px;
	height: 4px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 35px;
}

#u3650
{
	z-index: 238;
	width: 91px;
	height: 4px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 297px;
}

#u3652
{
	z-index: 239;
	width: 357px;
	height: 4px;
	background-color: #FFFFFF;
	margin-left: 35px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u3653
{
	z-index: 240;
	min-height: 37px;
	background-color: #253440;
	padding-bottom: 3px;
}

#u3653:hover
{
	background-color: #253440;
	min-height: 37px;
	margin: 0px;
}

#u3653_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1002px;
	position: relative;
	left: -100px;
	margin-bottom: -40px;
}

#u3654-4
{
	z-index: 241;
	width: 58px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 208px;
}

#u3655-4
{
	z-index: 245;
	width: 123px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 305px;
}

#u3686-4
{
	z-index: 249;
	width: 140px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 466px;
}

#u3687
{
	z-index: 253;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1045px;
}

#u3656-4
{
	z-index: 249;
	width: 129px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 461px;
}

#u3653-bw
{
	z-index: 240;
	min-height: 37px;
	margin-top: -1363px;
}

#pu3558
{
	width: 0.01px;
	margin-left: 92px;
	margin-top: -1323px;
}

#u3558
{
	z-index: 5;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u3563
{
	z-index: 6;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3560
{
	z-index: 7;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3564-4
{
	z-index: 8;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3565
{
	z-index: 24;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3566
{
	z-index: 25;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3567-4
{
	z-index: 26;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3562-4
{
	z-index: 12;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3559-4
{
	z-index: 16;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3561-4
{
	z-index: 20;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3588
{
	z-index: 80;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u3596
{
	z-index: 81;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3595
{
	z-index: 82;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3594-4
{
	z-index: 83;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3590
{
	z-index: 99;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3591
{
	z-index: 100;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3592-4
{
	z-index: 101;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3589-4
{
	z-index: 87;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3593-4
{
	z-index: 91;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3597-4
{
	z-index: 95;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3618
{
	z-index: 155;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 592px;
}

#u3623
{
	z-index: 156;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3620
{
	z-index: 157;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3621-4
{
	z-index: 158;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3624
{
	z-index: 174;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3625
{
	z-index: 175;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3626-4
{
	z-index: 176;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3622-4
{
	z-index: 162;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3627-4
{
	z-index: 166;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3619-4
{
	z-index: 170;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#pu2292
{
	width: 0.01px;
	margin-left: -64px;
	margin-top: -1276px;
}

#pu2292_position_content
{
	margin-top: -189px;
	padding-bottom: 266px;
}

#u2292
{
	z-index: 283;
	width: 2px;
	height: 74px;
	top: 287px;
	left: 36px;
}

#u2289-4
{
	z-index: 267;
	width: 113px;
	min-height: 19px;
	top: 288px;
	left: 51px;
}

#u2285
{
	z-index: 254;
	width: 82px;
	height: 19px;
	top: 314px;
	left: 37px;
}

#u2290-4
{
	z-index: 275;
	width: 134px;
	min-height: 19px;
	top: 316px;
	left: 51px;
}

#u2290-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 134px;
	margin: 0px;
}

#u2290-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 134px;
	margin: 0px;
}

#u2398-4
{
	z-index: 271;
	width: 113px;
	min-height: 19px;
	top: 345px;
	left: 51px;
}

#u2288-4
{
	z-index: 263;
	width: 113px;
	min-height: 19px;
	top: 376px;
	left: 65px;
}

#pu3568
{
	width: 0.01px;
	margin-left: 92px;
	margin-top: -1183px;
}

#u3568
{
	z-index: 30;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u3572
{
	z-index: 31;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3577
{
	z-index: 32;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3569-4
{
	z-index: 33;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3574
{
	z-index: 49;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3576
{
	z-index: 50;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3575-4
{
	z-index: 51;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3571-4
{
	z-index: 37;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3570-4
{
	z-index: 41;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3573-4
{
	z-index: 45;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3598
{
	z-index: 105;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u3605
{
	z-index: 106;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3600
{
	z-index: 107;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3607-4
{
	z-index: 108;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3602
{
	z-index: 124;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3604
{
	z-index: 125;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3603-4
{
	z-index: 126;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3601-4
{
	z-index: 112;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3606-4
{
	z-index: 116;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3599-4
{
	z-index: 120;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3628
{
	z-index: 180;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 592px;
}

#u3629
{
	z-index: 181;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3637
{
	z-index: 182;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3631-4
{
	z-index: 183;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3632
{
	z-index: 199;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3634
{
	z-index: 200;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3633-4
{
	z-index: 201;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3635-4
{
	z-index: 187;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3630-4
{
	z-index: 191;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3636-4
{
	z-index: 195;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#pu2286-4
{
	width: 0.01px;
	margin-left: -35px;
	margin-top: -1156px;
}

#pu2286-4_position_content
{
	margin-top: -309px;
	padding-bottom: 390px;
}

#u2286-4
{
	z-index: 255;
	width: 113px;
	min-height: 19px;
	top: 407px;
	left: 65px;
}

#u2287-4
{
	z-index: 259;
	width: 113px;
	min-height: 19px;
	top: 438px;
	left: 65px;
}

#u2291-4
{
	z-index: 279;
	width: 113px;
	min-height: 19px;
	top: 469px;
	left: 65px;
}

#u2289-4:hover,#u2398-4:hover,#u2288-4:hover,#u2286-4:hover,#u2287-4:hover,#u2291-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 113px;
	margin: 0px;
}

#pu3578
{
	width: 0.01px;
	margin-left: 92px;
	margin-top: -1043px;
}

#u3578
{
	z-index: 55;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u3579
{
	z-index: 56;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3582
{
	z-index: 57;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3580-4
{
	z-index: 58;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3583
{
	z-index: 74;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3584
{
	z-index: 75;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3585-4
{
	z-index: 76;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3581-4
{
	z-index: 62;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3587-4
{
	z-index: 66;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3586-4
{
	z-index: 70;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3608
{
	z-index: 130;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u3610
{
	z-index: 131;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3609
{
	z-index: 132;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#u3611-4
{
	z-index: 133;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3615
{
	z-index: 149;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3617
{
	z-index: 150;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3616-4
{
	z-index: 151;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3612-4
{
	z-index: 137;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3614-4
{
	z-index: 141;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3613-4
{
	z-index: 145;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

#u3638
{
	z-index: 205;
	width: 297px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 592px;
}

#u3647
{
	z-index: 206;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #F5F5F5;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u3645
{
	z-index: 207;
	width: 99px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 14px;
}

#pu3564-4,#pu3594-4,#pu3621-4,#pu3569-4,#pu3607-4,#pu3631-4,#pu3580-4,#pu3611-4,#pu3639-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 128px;
}

#u3639-4
{
	z-index: 208;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #FBB03B;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	margin-left: 5px;
	position: relative;
}

#u3641
{
	z-index: 224;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u3643
{
	z-index: 225;
	width: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3642-4
{
	z-index: 226;
	width: 80px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u3644-4
{
	z-index: 212;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 134px;
}

#u3646-4
{
	z-index: 216;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 134px;
}

#u3640-4
{
	z-index: 220;
	width: 154px;
	min-height: 19px;
	background-color: transparent;
	color: #254035;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 134px;
}

@font-face
{
	font-family: '__Hurme Geometric Sans 3_5';
	src: url('../fonts/hurmegeometricsans3-light.eot');
	src: local('☺'), url('../fonts/hurmegeometricsans3-light.woff') format('woff'), url('../fonts/hurmegeometricsans3-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Hurme Geometric Sans 3_5';
	src: url('../fonts/hurmegeometricsans3-bold.eot');
	src: local('☺'), url('../fonts/hurmegeometricsans3-bold.woff') format('woff'), url('../fonts/hurmegeometricsans3-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Hurme Geometric Sans 3_5';
	src: url('../fonts/hurmegeometricsans3-regular.eot');
	src: local('☺'), url('../fonts/hurmegeometricsans3-regular.woff') format('woff'), url('../fonts/hurmegeometricsans3-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1002px;
	padding-top: 0px;
        
}

#page .verticalspacer
{
	clear: both;
}

.conteudo {
    margin-left:15%;
    margin-right: auto;
    width: 84%;
}

.ui-paginator {
    background-color: white;
    border-width: 0px;
    /*border-color: white;*/
}

.ui-datagrid-content ui-widget-content{
    border-width: 0px;
    
}
.ui-widget-content{
     border-width: 0px;
}

#pu3347
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1363px;
}
#u3347-bw
{
	z-index: 240;
	min-height: 37px;
}

#u3347
{
	z-index: 240;
	min-height: 37px;
	background-color: #253440;
	padding-bottom: 3px;
}

#u3347:hover
{
	background-color: #253440;
	min-height: 37px;
	margin: 0px;
}

#u3347_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1002px;
	position: relative;
	left: -100px;
}

#u3348-4
{
	z-index: 241;
	width: 88px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 208px;
}
#u3706-4
{
	z-index: 249;
	width: 139px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 507px;
}
#u3708-4
{
	z-index: 253;
	width: 41px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 682px;
}
#u3695
{
	z-index: 270;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1045px;
}
#u3352-4
{
	z-index: 245;
	width: 139px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 332px;
}

#pamphletu3358
{
	z-index: 257;
	width: 0.01px;
	height: 18px;
	padding-bottom: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 208px;
}

#u3367
{
	z-index: 258;
	width: 88px;
	position: relative;
	margin-right: -10000px;
}
#u3369
{
	position: absolute;
	width: 88px;
	height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u3369
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3369:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 88px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
}

.ie #u3369:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3369.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 88px;
	height: 17px;
	min-height: 0px;
	margin: 0px;
}
#u3359popup
{
	z-index: 260;
}


#u3362
{
	z-index: 261;
	width: 145px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #41566D;
	margin-right: -10000px;
	position: relative;
	padding: 11px 7px 10px 11px;
}
#u3373-4
{
	z-index: 262;
	width: 145px;
	min-height: 19px;
	background-color: transparent;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: relative;
}

#u3373-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 145px;
	margin: 0px;
}

#u3373-4:hover p,#u3375-4:hover p
{
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	font-style: normal;
}
#u3375-4
{
	z-index: 266;
	width: 145px;
	min-height: 19px;
	background-color: transparent;
	color: #FFD400;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u3375-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 145px;
	margin: 7px 0px 0px;
}
#u3359
{
	position: absolute;
	width: 163px;
	background-color: transparent;
	top: 26px;
}
.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
        
}

.popup_element
{
	z-index: 100000;
}

#pu3251-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1563px;
}   

#u3251-3-bw
{
	z-index: 2;
	min-height: 200px;
}

#u3342
{
	z-index: 230;
	width: 424px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 424px;
}

#pu3346-6
{
	width: 0.01px;
}
#u3346-6
{
	z-index: 231;
	width: 424px;
	min-height: 138px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}
#u3346-2
{
	font-size: 39px;
	line-height: 47px;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
}
#u3346-4
{
	font-size: 80px;
	line-height: 96px;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
}
#u3345
{
	z-index: 237;
	width: 91px;
	height: 4px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 35px;
}
#u3343
{
	z-index: 238;
	width: 91px;
	height: 4px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 297px;
}
#u3344
{
	z-index: 239;
	width: 357px;
	height: 4px;
	background-color: #FFFFFF;
	margin-left: 35px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}