

.ui-widget-content{
    border:0px;
}
/*.ui-layout-unit-content ui-widget-content{
    background: transparent !important; 
    border: 0px !important; 
    color: transparent !important; 
    border-radius: 0px !important;
    
}*/


