#u2284
{
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	position: fixed;
}

#u2293
{
	background-color: transparent;
	position: fixed;
}

#u2292
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: fixed;
}

#u2289-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: fixed;
}

#u2285
{
	border-style: none;
	border-color: transparent;
	background-color: #FFD400;
	position: fixed;
}

#u2290-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 700;
	position: fixed;
}

#u2289-4:hover p,#u2290-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2290-4.MuseLinkActive p
{
	color: #FBB03B;
	visibility: inherit;
}

#u2398-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 400;
	position: fixed;
}

#u2288-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: fixed;
}

#u2286-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: fixed;
}

#u2287-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: fixed;
}

#u2291-4
{
	background-color: transparent;
	font-size: 14px;
	color: #000000;
	font-family: '__Hurme Geometric Sans 3_5';
	font-weight: 300;
	position: fixed;
}

#u2398-4:hover p,#u2288-4:hover p,#u2286-4:hover p,#u2287-4:hover p,#u2291-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

